@using GameCatalogMVC.Models;
@model Produto

@section Styles
{
    <style type="text/css">        
        #divdetails
        {             
            background-color: White;            
            height: auto;                        
            font-family: Verdana;  
            font-size: small;            
        }    
        #imgthumbnail
        {
            width:134px;
            height:168px;
        }
        .container-fluid {
            background-color: White;            
        }
    </style>        
}


    <div id="divdetails" class="container-fluid">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            @if (!string.IsNullOrWhiteSpace(@Model.Descricao ))
            {
                <span style="font-size: large; color:steelblue;">@Model.Descricao </span>
                <br />
            }

            <div style="margin-top:10px; margin-bottom:10px; width: 400px; border: 1px solid #BDBDBD">
                <br />
                <img id='imgthumbnail' src='@Url.Content("~/Content/fotos/" + @Model.Foto)' alt='' style="margin-left:110px;" />
                <br />
                <br />
            </div>
            @if (!string.IsNullOrEmpty(Model.Console.Descricao ))
            {
                <text>Console: </text>@Model.Console.Descricao <br />
            }
            @if (!string.IsNullOrWhiteSpace(@Model.Texto1))
            {
                @Model.Texto1<br />
            }
            @if (!string.IsNullOrWhiteSpace(@Model.Texto2))
            {
                @Model.Texto2<br />
            }
            @if (!string.IsNullOrWhiteSpace(@Model.Texto3))
            {
                @Model.Texto3<br />
            }
            @if (!string.IsNullOrWhiteSpace(@Model.Data_cadastro.ToString()))
            {
                <text>Data de Lançamento: </text> @Model.Data_cadastro.ToShortDateString()<br />
            }

            @if (!string.IsNullOrWhiteSpace(@Model.Site))
            {
                <a href='@Model.Site' target="_blank">Ver avaliação</a>
            }
            <br />
            <br />
            <br />
        </div>
    </div>
